#top {
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    margin: 0 -9999rem;
     /* add back negative margin value */
    padding: 0.25rem 9999rem;
    background: rgba(20, 19, 19, 0.5);
}
